<ion-header>
    <div class="bar bar-header bar-positive">
        <ion-menu-button></ion-menu-button>
        <ion-title>
            Riya Mahajan
            <div class="status">Online</div>
        </ion-title>
        <ion-icon name="search"></ion-icon>
    </div>
</ion-header>
<ion-content>
    <ion-grid>
        <div class="chat-section">
            <ion-row>
                <ion-col size="12">
                    <div class="chat-tl">
                        Lorem ipsum dolor sit amet.
                        <span class="time">10.45am</span>
                    </div>
                </ion-col>
                <ion-col size="12">
                    <div class="chat-tl">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, fugit.
                        <span class="time">10.45am</span>
                    </div>
                </ion-col>

                <ion-col size="12">
                    <div class="chat-tr">
                        Lorem ipsum fugit.
                        <span class="time">10.45am</span>
                    </div>
                </ion-col>

                <ion-col size="12">
                    <div class="chat-tr">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, fugit.
                        <span class="time">10.45am</span>
                    </div>
                </ion-col>
                <ion-col size="12">
                    <div class="chat-tl">
                        Lorem ipsum dolor sit amet.
                        <span class="time">10.45am</span>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
    <div class="chat-input">
        <ion-input placeholder="Enter Input"></ion-input>
        <div class="send">
            <ion-icon name="paper-plane"></ion-icon>
        </div>
    </div>
</ion-content>

<app-footer></app-footer>