<ion-header>
    <div class="bar bar-header bar-positive">
        <ion-menu-button></ion-menu-button>
        <ion-title>Favourite List</ion-title>
        <ion-icon name="more"></ion-icon>
    </div>
</ion-header>

<ion-content>
    <div class="fav-list">
        <ul>
            <li>
                <div>
                    <img src="assets/profile-pic-7.png" alt="img">
                    <p>User 1 Details</p>
                </div>
                <div class="fav-list-icons">
                    <ion-icon name="mail"></ion-icon>
                </div>
            </li>

            <li>
                <div>
                    <img src="assets/profile-pic-7.png" alt="img">
                    <p>User 1 Details</p>
                </div>
                <div class="fav-list-icons">
                    <ion-icon name="mail"></ion-icon>
                </div>
            </li>

            <li>
                <div>
                    <img src="assets/profile-pic-7.png" alt="img">
                    <p>User 1 Details</p>
                </div>
                <div class="fav-list-icons">
                    <ion-icon name="mail"></ion-icon>
                </div>
            </li>

            <li>
                <div>
                    <img src="assets/profile-pic-7.png" alt="img">
                    <p>User 1 Details</p>
                </div>
                <div class="fav-list-icons">
                    <ion-icon name="mail"></ion-icon>
                </div>
            </li>

            <li>
                <div>
                    <img src="assets/profile-pic-7.png" alt="img">
                    <p>User 1 Details</p>
                </div>
                <div class="fav-list-icons">
                    <ion-icon name="mail"></ion-icon>
                </div>
            </li>
            <li>
                <div>
                    <img src="assets/profile-pic-7.png" alt="img">
                    <p>User 1 Details</p>
                </div>
                <div class="fav-list-icons">
                    <ion-icon name="mail"></ion-icon>
                </div>
            </li>

            <li>
                <div>
                    <img src="assets/profile-pic-7.png" alt="img">
                    <p>User 1 Details</p>
                </div>
                <div class="fav-list-icons">
                    <ion-icon name="mail"></ion-icon>
                </div>
            </li>

            <li>
                <div>
                    <img src="assets/profile-pic-7.png" alt="img">
                    <p>User 1 Details</p>
                </div>
                <div class="fav-list-icons">
                    <ion-icon name="mail"></ion-icon>
                </div>
            </li>
        </ul>
    </div>
</ion-content>

<app-footer></app-footer>