<div class="bar bar-footer bar-dark">
    <div class="tabs tabs-icon-top">
        <a class="tab-item" (click)="navigateTo('MyProfile')">
            <img src="assets/tab-icon-user.png" alt="icon" />
        </a>
        <a class="tab-item" (click)="navigateTo('FavList')">
            <img src="assets/tab-icon-star.png" alt="icon" />
        </a>
        <a class="tab-item active" (click)="navigateTo('Location')">
            <img src="assets/tab-icon-location.png" alt="icon" />
        </a>
        <a class="tab-item" (click)="navigateTo('Chat')">
            <img src="assets/tab-icon-mail.png" alt="icon" />
        </a>
    </div>
</div>