<ion-header>
    <div class="bar bar-header bar-positive">
        <ion-menu-button></ion-menu-button>
        <ion-title>
            FAQ
        </ion-title>
        <ion-icon name="search"></ion-icon>
    </div>
</ion-header>

<ion-content>
    <div class="faq">
        <div class="row">
            <div class="col">
                <div class="tabs">
                    <div class="tab">
                        <input type="checkbox" id="chck1">
                        <label class="tab-label" for="chck1">Lorem ipsum dolor sit amet consectetur.</label>
                        <div class="tab-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores aspernatur qui aliquid id saepe provident, et culpa officiis quidem quo commodi? Similique vitae alias velit voluptate, ab dicta. Error.
                        </div>
                    </div>

                    <div class="tab">
                        <input type="checkbox" id="chck2">
                        <label class="tab-label" for="chck2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</label>
                        <div class="tab-content">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, quod ratione fuga totam at rerum non fugiat blanditiis. Similique maxime distinctio dolore magni praesentium suscipit repudiandae eum perferendis eveniet molestias, incidunt accusamus accusantium
                            est? Maxime veniam alias deserunt asperiores dolore voluptatum voluptatibus eveniet doloribus commodi ducimus! Dolorum doloremque magni perferendis?
                        </div>
                    </div>

                    <div class="tab">
                        <input type="checkbox" id="chck3">
                        <label class="tab-label" for="chck3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</label>
                        <div class="tab-content">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, quod ratione fuga totam at rerum non fugiat blanditiis. Similique maxime distinctio dolore magni praesentium suscipit repudiandae eum perferendis eveniet molestias, incidunt accusamus accusantium
                            est? Maxime veniam alias deserunt asperiores dolore voluptatum voluptatibus eveniet doloribus commodi ducimus! Dolorum doloremque magni perferendis?
                        </div>
                    </div>

                    <div class="tab">
                        <input type="checkbox" id="chck4">
                        <label class="tab-label" for="chck4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</label>
                        <div class="tab-content">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, quod ratione fuga totam at rerum non fugiat blanditiis. Similique maxime distinctio dolore magni praesentium suscipit repudiandae eum perferendis eveniet molestias, incidunt accusamus accusantium
                            est? Maxime veniam alias deserunt asperiores dolore voluptatum voluptatibus eveniet doloribus commodi ducimus! Dolorum doloremque magni perferendis?
                        </div>
                    </div>

                    <div class="tab">
                        <input type="checkbox" id="chck5">
                        <label class="tab-label" for="chck5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</label>
                        <div class="tab-content">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, quod ratione fuga totam at rerum non fugiat blanditiis. Similique maxime distinctio dolore magni praesentium suscipit repudiandae eum perferendis eveniet molestias, incidunt accusamus accusantium
                            est? Maxime veniam alias deserunt asperiores dolore voluptatum voluptatibus eveniet doloribus commodi ducimus! Dolorum doloremque magni perferendis?
                        </div>
                    </div>

                    <div class="tab">
                        <input type="checkbox" id="chck6">
                        <label class="tab-label" for="chck6">Lorem ipsum dolor sit amet consectetur adipisicing elit.</label>
                        <div class="tab-content">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, quod ratione fuga totam at rerum non fugiat blanditiis. Similique maxime distinctio dolore magni praesentium suscipit repudiandae eum perferendis eveniet molestias, incidunt accusamus accusantium
                            est? Maxime veniam alias deserunt asperiores dolore voluptatum voluptatibus eveniet doloribus commodi ducimus! Dolorum doloremque magni perferendis?
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<app-footer></app-footer>