<ion-header>
    <div class="bar bar-header bar-positive">
        <ion-menu-button></ion-menu-button>
        <ion-title>
            About Us
        </ion-title>
        <ion-icon name="arrow-round-back"></ion-icon>
    </div>
</ion-header>

<ion-content padding>
    <div class="about">
        <h2>About Us</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus quisquam laboriosam, consectetur eum quasi fugit dicta recusandae sed dolorem odit vel, harum beatae cupiditate eos magni debitis expedita dolore provident. Quasi consequatur ipsum
            quis quaerat repudiandae dolores voluptatibus soluta sequi laborum, sint totam repellat eaque similique autem quod perferendis incidunt!
        </p>

        <p>
            Quasi consequatur ipsum quis quaerat repudiandae dolores voluptatibus soluta sequi laborum, sint totam repellat eaque similique autem quod perferendis incidunt!
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus quisquam laboriosam, consectetur eum quasi fugit dicta recusandae sed dolorem odit vel, harum beatae cupiditate eos magni debitis expedita dolore provident.
        </p>

        <p>
            Repellendus quisquam laboriosam, consectetur eum quasi fugit dicta recusandae sed dolorem odit vel, harum beatae cupiditate eos magni debitis expedita dolore provident. Quasi consequatur ipsum quis quaerat repudiandae dolores voluptatibus soluta sequi
            laborum, sint totam repellat eaque similique autem quod perferendis incidunt!
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi consequatur ipsum quis quaerat repudiandae dolores voluptatibus soluta sequi laborum, sint totam repellat eaque similique autem quod perferendis incidunt!
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus quisquam laboriosam, consectetur eum quasi fugit dicta recusandae sed dolorem odit vel, harum beatae cupiditate eos magni debitis expedita dolore provident. Quasi consequatur ipsum
            quis quaerat repudiandae dolores voluptatibus soluta sequi laborum, sint totam repellat eaque similique autem quod perferendis incidunt!
        </p>
    </div>

</ion-content>


<app-footer></app-footer>