ul {
    list-style: none;
    padding: 8px 10px 8px 6px;
    margin: 0;
}

ion-col {
    padding: 0 !important;
    position: relative;
}

ion-grid {
    padding: 0;
}

.red {
    color: #c03a2b;
}

a.tab-item {
    padding: 10px;
}

.tabs.tabs-icon-top {
    display: flex;
    justify-content: space-around;
}

.ion-list-box {
    background: #fff;
    position: absolute;
    bottom: 0;
}

.ion-list-box ul {
    display: flex;
}

.ion-list-box ul li {
    border-right: 1px solid #ddd;
    padding-right: 7px;
    padding-left: 5px;
}

.ion-list-box ul li:last-child {
    border-right: 0px solid #ddd;
}

span.active {
    background: #02d811;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50px;
    margin-right: 8px;
}

span.in-active {
    background: #ccc;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50px;
    margin-right: 8px;
}

.ion-notification {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #fff;
    color: #c03a2b;
    width: 35px;
    height: 35px;
    line-height: 38px;
    text-align: center;
    border-radius: 50px;
}

.ion-notification ion-icon {
    position: relative;
    right: 3px;
}

.ion-count {
    position: absolute;
    top: -6px;
    right: 6px;
    color: #000;
    font-weight: 500;
    font-size: 13px;
}

.bar-dark {
    background: #363435;
}

.bar-dark a.tab-item {
    color: #fff;
    font-size: 28px;
    width: 100%;
    text-align: center;
}

a.tab-item.active {
    background: #d4c572;
}

.bar.bar-footer .tab-item img {
    width: 30px;
}

.bar.bar-header.bar-positive {
    display: flex;
    justify-content: space-between;
    background: #363435;
    align-items: center;
    color: #fff;
    padding: 0 10px;
    min-height: 45px;
}

.bar.bar-header h1 {
    font-size: 16px;
    color: #fff;
    padding-top: 0px;
}

.bar.bar-header ion-icon {
    font-size: 24px;
}