<div class="bar bar-header bar-positive">
    <ion-icon name="menu"></ion-icon>
    <ion-icon name="more"></ion-icon>
</div>

<ion-content>
    <div class="profile-view">
        <div class="profile-pic">
            <img src="assets/7.jpg" alt="img">
        </div>
        <div class="location">
            <img src="assets/map.png" alt="img"> 36km away
        </div>

        <div class="profile-view-icons">
            <ul>
                <li><img src="assets/icon-chat.png" alt="img"></li>
                <li><img src="assets/icon-fire.png" alt="img"></li>
                <li><img src="assets/icon-user.png" alt="img"></li>
            </ul>
        </div>

        <div class="like-btns">
            <ul>
                <li>
                    <ion-icon name="heart" class="red"></ion-icon>
                </li>
                <li>
                    <ion-icon name="close" class="red"></ion-icon>
                </li>
            </ul>
        </div>

        <div class="details">
            <h3>Riya Mahajan - 21</h3>
            <div class="online-status">
                <span class="offline"></span> Last online 5hrs ago
            </div>
        </div>
    </div>
</ion-content>