ion-item {
    --background: transparent;
    --color: #fff;
    border-bottom: 1px solid #fff !important;
}

ion-button {
    --background: #062f77;
}

.sc-ion-input-ios-h {
    --placeholder-opacity: 1;
}

$white: #fff;
$purple: #7a67f3;
a {
    color: #fff;
    text-decoration: none;
}

.password-otp {
    font-family: 'Lato', sans-serif;
    --background: -moz-linear-gradient(58deg, #7A67F3 37%, #7A67F3 47%, #9EE0D4 87%);
    --background: -webkit-linear-gradient(58deg, #7A67F3 37%, #7A67F3 47%, #9EE0D4 87%);
    --background: -o-linear-gradient(58deg, #7A67F3 37%, #7A67F3 47%, #9EE0D4 87%);
    --background: -ms-linear-gradient(58deg, #7A67F3 37%, #7A67F3 47%, #9EE0D4 87%);
    --background: linear-gradient(58deg, #7A67F3 37%, #7A67F3 47%, #9EE0D4 87%);
}

.password-otp .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-otp .logo img {
    max-width: 35%;
}

.password-otp h1 {
    color: $white;
    text-transform: uppercase;
    padding: 15px 0 10px;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1px;
}

.password-otp p {
    color: $white;
    max-width: 72%;
    margin: 0 auto;
    line-height: 20px;
}

.forgot-section p {
    padding: 10px 0;
}

.mtop30 {
    margin-top: 30px;
}

.i-icons {
    font-size: 16px;
    color: $white;
    margin-right: 7px;
}

.error-message {
    color: #fff;
    font-size: 14px;
    margin-top: 6px;
}

.icon-pos {
    position: relative;
    top: 2px;
    padding-right: 5px;
}

.checkbox-pos {
    position: relative;
    top: 3px;
}

.password-otp .sc-ion-input-md-h {
    font-size: 14px;
    font-weight: 300;
}

.btn-login {
    background: $white;
    --background: #fff;
    --color: #7a67f3;
    opacity: 1;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 8px;
}

.tb-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-default {
    --background: transparent !important;
    background: transparent;
    border: 1px solid #fff;
    --box-shadow: none !important;
    border-radius: 8px;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 8px;
}

.b-border {
    border-bottom: 1px solid;
}

.or {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 10px;
    position: relative;
}

.or:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    top: 20px;
    left: 0;
    z-index: 0;
}

.or-text {
    position: absolute;
    z-index: 2;
    background: #7a67f3;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
}

.socials p {
    padding-top: 50px;
    text-align: center;
    font-size: 15px;
}

.socials ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.socials ul li img {
    width: 40px;
}

.remember-me ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: $white;
    padding-left: 0;
}

.item-native {
    padding-left: 0px !important;
}

.mtop60 {
    margin-top: 60px;
}

.item-inner {
    border-bottom: 0px !important;
}

.icon-heart {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    font-size: 50px;
    transform: rotate(-30deg) scale(1, 1) skew(0deg, 0deg) translate(0, -17px);
}

.icon-wine {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    font-size: 50px;
    transform: rotate(33deg) scale(1, 1) skew(0deg, 0deg) translate(78px, -135px);
}

.icon-wine2 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    font-size: 50px;
    transform: rotate(-31deg) scale(1, 1) skew(0deg, 0deg) translate(-148px, 0px);
}