<ion-content class="password-otp">
    <form [formGroup]="otpform" (ngSubmit)="submitOTP(otpform.value)">
        <ion-grid>
            <ion-row color="primary" justify-content-center class="mtop60">
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div class="logo">
                        <img src="/assets/otp.png" alt="logo"> </div>
                    <div text-center class="forgot-section">
                        <h1>Verification code</h1>
                        <p>Please enter your code from email, we've sent you.</p>
                    </div>
                    <div padding>
                        <ion-item class="b-border" no-padding>
                            <ion-icon ios="ios-lock" md="md-lock" class="i-icons"></ion-icon>
                            <ion-input formControlName="otp" name="otp" type="password" placeholder="Please enter OTP"></ion-input>
                        </ion-item>

                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validationmessages.otp">
                                <div class="error-message" *ngIf="otpform.get('otp').hasError(validation.type) && (otpform.get('otp').dirty || otpform.get('otp').touched)">
                                    <ion-icon name="information-circle-outline" class="icon-pos"></ion-icon> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>

                        <div class="icon-heart">
                            <ion-icon name="heart-empty"></ion-icon>
                        </div>

                        <div class="icon-wine">
                            <ion-icon name="wine"></ion-icon>
                        </div>
                        <div class="icon-wine2">
                            <ion-icon name="wine"></ion-icon>
                        </div>

                    </div>
                    <div class="tb-padding">
                        <ion-button size="large" type="submit" expand="block" class="btn-login" [disabled]="!otpform.valid">Send</ion-button>
                    </div>

                    <div text-center class="forgot-section">
                        <p>Didn't get OTP? </p>
                        <p>Resend Code.</p>
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>