<!-- <ion-header>
    <ion-toolbar>
        <ion-title>Who is Nearby</ion-title>
    </ion-toolbar>
</ion-header> -->

<div class="bar bar-header bar-positive">
    <ion-menu-button></ion-menu-button>
    <ion-icon name="search"></ion-icon>
</div>


<ion-content>
    <ion-grid>
        <ion-row class="list-section">
            <ion-col no-padding>
                <div class="ion-notification">
                    <ion-icon name="notifications"></ion-icon>
                    <div class="ion-count">2</div>
                </div>
                <div class="ion-list-box">
                    <ul>
                        <li><span class="active"></span>John</li>
                        <li>
                            <ion-icon name="heart" class="red"></ion-icon> 25</li>
                    </ul>
                </div>
                <img src=" assets/profile-pic-1.png" alt="img">
            </ion-col>

            <ion-col no-padding>
                <div class="ion-notification">
                    <ion-icon name="notifications"></ion-icon>
                    <div class="ion-count">2</div>
                </div>
                <div class="ion-list-box">
                    <ul>
                        <li><span class="active"></span>John</li>
                        <li>
                            <ion-icon name="heart" class="red"></ion-icon> 25</li>
                    </ul>
                </div>
                <img src=" assets/profile-pic-2.png" alt="img">
            </ion-col>

            <ion-col no-padding>
                <div class="ion-notification">
                    <ion-icon name="notifications"></ion-icon>
                    <div class="ion-count">2</div>
                </div>
                <div class="ion-list-box">
                    <ul>
                        <li><span class="active"></span>John</li>
                        <li>
                            <ion-icon name="heart" class="red"></ion-icon> 25</li>
                    </ul>
                </div>
                <img src=" assets/profile-pic-3.png" alt="img">
            </ion-col>

            <ion-col no-padding>
                <div class="ion-notification">
                    <ion-icon name="notifications"></ion-icon>
                    <div class="ion-count">2</div>
                </div>
                <div class="ion-list-box">
                    <ul>
                        <li><span class="active"></span>John</li>
                        <li>
                            <ion-icon name="heart" class="red"></ion-icon> 25</li>
                    </ul>
                </div>
                <img src=" assets/profile-pic-4.png" alt="img">
            </ion-col>

            <ion-col no-padding>
                <div class="ion-notification">
                    <ion-icon name="notifications"></ion-icon>
                    <div class="ion-count">2</div>
                </div>
                <div class="ion-list-box">
                    <ul>
                        <li><span class="active"></span>John</li>
                        <li>
                            <ion-icon name="heart" class="red"></ion-icon> 25</li>
                    </ul>
                </div>
                <img src=" assets/profile-pic-5.png" alt="img">
            </ion-col>

            <ion-col no-padding>
                <div class="ion-notification">
                    <ion-icon name="notifications"></ion-icon>
                    <div class="ion-count">2</div>
                </div>
                <div class="ion-list-box">
                    <ul>
                        <li><span class="active"></span>John</li>
                        <li>
                            <ion-icon name="heart" class="red"></ion-icon> 25</li>
                    </ul>
                </div>
                <img src=" assets/profile-pic-6.png" alt="img">
            </ion-col>

            <ion-col no-padding>
                <div class="ion-notification">
                    <ion-icon name="notifications"></ion-icon>
                    <div class="ion-count">2</div>
                </div>
                <div class="ion-list-box">
                    <ul>
                        <li><span class="active"></span>John</li>
                        <li>
                            <ion-icon name="heart" class="red"></ion-icon> 25</li>
                    </ul>
                </div>
                <a routerLink="#"><img src=" assets/profile-pic-7.png" alt="img"></a>
            </ion-col>

            <ion-col no-padding>
                <div class="ion-notification">
                    <ion-icon name="notifications"></ion-icon>
                    <div class="ion-count">2</div>
                </div>
                <div class="ion-list-box">
                    <ul>
                        <li><span class="active"></span>John</li>
                        <li>
                            <ion-icon name="heart" class="red"></ion-icon> 25</li>
                    </ul>
                </div>
                <img src=" assets/profile-pic-8.png" alt="img">
            </ion-col>

            <ion-col no-padding>
                <div class="ion-notification">
                    <ion-icon name="notifications"></ion-icon>
                    <div class="ion-count">2</div>
                </div>
                <div class="ion-list-box">
                    <ul>
                        <li><span class="active"></span>John</li>
                        <li>
                            <ion-icon name="heart" class="red"></ion-icon> 25</li>
                    </ul>
                </div>
                <img src=" assets/profile-pic-9.png" alt="img">
            </ion-col>

            <ion-col no-padding>
                <div class="ion-notification">
                    <ion-icon name="notifications"></ion-icon>
                    <div class="ion-count">2</div>
                </div>
                <div class="ion-list-box">
                    <ul>
                        <li><span class="active"></span>John</li>
                        <li>
                            <ion-icon name="heart" class="red"></ion-icon> 25</li>
                    </ul>
                </div>
                <img src=" assets/profile-pic-10.png" alt="img">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


<app-footer></app-footer>