<ion-content class="reset-password">
    <form [formGroup]="resetPasswordform" (ngSubmit)="resetPassword(resetPasswordform.value)">
        <ion-grid>
            <ion-row color="primary" justify-content-center class="mtop60">
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div class="logo">
                        <img src=" assets/forgot-pwd-img.png" alt="logo"> </div>
                    <div text-center class="forgot-section">
                        <h1>Reset Password</h1>
                        <p>Create a new password. Then re-enter to confirm your new password.</p>
                    </div>
                    <div formGroupName="matchingPasswords" padding>
                        <ion-item class="b-border" no-padding>
                            <ion-icon ios="ios-lock" md="md-lock" class="i-icons"></ion-icon>
                            <ion-input formControlName="password" name="password" type="password" placeholder="New Password"></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                                <ng-container *ngFor="let validation of validationmessages.password">
                                    <div class="error-message" *ngIf="resetPasswordform.get('matchingPasswords').get('password').hasError(validation.type) && (resetPasswordform.get('matchingPasswords').get('password').dirty || resetPasswordform.get('matchingPasswords').get('password').touched)">
                                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>

                        <ion-item class="b-border" no-padding>
                            <ion-icon ios="ios-lock" md="md-lock" class="i-icons"></ion-icon>
                            <ion-input formControlName="confirm_password" name="confirmPassword" type="password" placeholder="Confirm Password"></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                                <ng-container *ngFor="let validation of validationmessages.confirm_password">
                                    <div class="error-message" *ngIf="resetPasswordform.get('matchingPasswords').get('confirm_password').hasError(validation.type) && (resetPasswordform.get('matchingPasswords').get('confirm_password').dirty || resetPasswordform.get('matchingPasswords').get('confirm_password').touched)">
                                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        <div class="icon-heart">
                            <ion-icon name="heart-empty"></ion-icon>
                        </div>

                        <div class="icon-wine">
                            <ion-icon name="wine"></ion-icon>
                        </div>
                        <div class="icon-wine2">
                            <ion-icon name="wine"></ion-icon>
                        </div>
                    </div>

                      <!-- These validations are for the form group -->
                      <div class="validation-errors">
                            <ng-container *ngFor="let validation of validationmessages.matching_passwords">
                                <div class="error-message" *ngIf="resetPasswordform.get('matchingPasswords').hasError(validation.type) && (resetPasswordform.get('matchingPasswords').get('confirm_password').dirty || resetPasswordform.get('matchingPasswords').get('confirm_password').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                    <div class="tb-padding">
                        <ion-button size="large" type="submit" expand="block" class="btn-login" >Reset Password</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>